<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Web" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\School\Python\Python3.7.0\python.exe|D:\School\Python\Python3.7.0\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
