<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查阅文献</title>
    {% load staticfiles %}
    <!--引入网站图标-->
    <link rel="shortcut icon" href="{% static "lab.png" %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div style="margin: 10px">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--点击首页后跳转至首页路由-->
                <a class="navbar-brand" href="{% url 'index:index' id 1 %}">首页</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'literature:checkFavorite' id 1 %}">收藏夹</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'literature:searchLiterature' id 1 %}">查阅文献</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 18px">
                            {% if user.name == "" %}
                                {{ user.username }}
                            {% else %}
                                {{ user.name }}
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 16px">
                            <li><a href="{% url 'literature:checkFavorite' id 1 %}">收藏夹</a></li>
                            <li><a href="{% url 'base:userCenter' id %}">个人中心</a></li>
                            <li><a href="{% url 'base:setPassword' %}">修改密码</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'base:logout' %}">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br/>


<main style="margin-top:-20px;margin-bottom: 20px;margin-left: 180px;margin-right: 180px;border: solid;border-color: #761c19 ">
    <div class="infosbox">
        <h2 style="text-align: center"><strong>☆☆☆个人收藏夹☆☆☆</strong></h2>
        <div style="margin: 20px">

            <hr style="height: 2px;background-color: #ce8483 ">
            {% if result %}
                <h3>
                    <div class="alert alert-warning" style="text-align:left;font-weight: bold">
                        您还未收藏任何文献!
                    </div>
                </h3>
            {% else %}
                <h3>
                    <div class="alert alert-info" style="text-align:left;font-weight: bold">
                        您一共收藏了<strong style="color: #4cae4c;font-size: xx-large"> {{ favorites.count }} </strong>篇文献
                        <label style="color: #080808;font-size: 21px">(提示: **点击文献<strong
                                style="color: #e38d13;font-size: 25px"> 标题 </strong>查看文献详情**)</label>
                    </div>
                </h3>
            {% endif %}
            <table class="table table-hover">
                <thead>
                <tr style="font-size: large">
                    <th>标题</th>
                    <th>作者</th>
                    <th>关键词</th>
                    <th>点赞数</th>
                    <th>下载次数</th>
                    <th>访问量</th>
                    <th>评论量</th>
                    <th>收藏时间</th>
                </tr>
                </thead>
                <tbody>
                {% for list in pages.object_list %}
                    <tr style="font-size: large">
                        <td width="150px">
                            <a href="{% url 'literature:detailLiterature' id list.favorite_literature.id 1 0 %}"
                               style="color: #e38d13;font-weight: bold;font-size: x-large">
                                {{ list.favorite_literature.literature_name }}
                            </a>
                        </td>
                        <td width="100px">{{ list.favorite_literature.literature_author }}</td>
                        <td width="170px">
                            <div>
                                {% for label in list.favorite_literature.literature_label.all %}
                                    <p>•{{ label.label_name }}</p>
                                {% endfor %}
                            </div>
                        </td>
                        <td width="90px">{{ list.favorite_literature.literature_like }}</td>
                        <td width="100px">{{ list.favorite_literature.literature_download }}</td>
                        <td width="90px">{{ list.favorite_literature.literature_view }}</td>
                        <td width="90px">{{ list.favorite_literature.literature_comment }}</td>
                        <td width="140px">{{ list.favorite_date | date:"Y年m月d日H:i:s" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!--分页功能-->
            <div class="pagelist" style="margin-left: 10px">
                {% if pages.has_previous %}
                    <a href="{% url 'literature:checkFavorite' id pages.previous_page_number %}"
                       style="color: #080808;font-size: medium;font-weight: bold ">&nbsp<<&nbsp</a>
                {% endif %}

                {% if pages.object_list %}
                    {% for page in pages.paginator.page_range %}
                        {% if pages.number == page %}
                            <a href="javascript:;" class="curPage" style="color: #080808;
                            font-size: medium;font-weight: bold;color: crimson ;background-color: #080808 ">&nbsp{{ page }}&nbsp</a>
                        {% else %}
                            <a href="{% url 'literature:checkFavorite' id page %}" style="color: #080808;font-size: medium;
                            font-weight: bold;background-color: #cccccc ">&nbsp{{ page }}&nbsp</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if pages.has_next %}
                    <a href="{% url 'literature:checkFavorite' id pages.next_page_number %}"
                       style="color: #080808;font-size: medium;font-weight: bold ">
                        &nbsp>>&nbsp</a>
                {% endif %}

            </div>
        </div>
    </div>
</main>

</body>
</html>