<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>通知详情</title>
    {% load staticfiles %}
    <!--引入网站图标-->
    <link rel="shortcut icon" href="{% static "lab.png" %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div style="margin: 10px">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--点击首页后跳转至首页路由-->
                <a class="navbar-brand" href="{% url 'index:index' id 1 %}">首页</a>
            </div>
            <div class="navbar-header">
                <!--点击通知详情后跳转至通知详情路由-->
                <a class="navbar-brand" href="{% url 'index:notice' id noticeId 0 %}">通知详情</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 18px">
                            {% if user.name == "" %}
                                {{ user.username }}
                            {% else %}
                                {{ user.name }}
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 16px">
                            <li><a href="{% url 'literature:checkFavorite' id 1 %}">收藏夹</a></li>
                            <li><a href="{% url 'base:userCenter' id %}">个人中心</a></li>
                            <li><a href="{% url 'base:setPassword' %}">修改密码</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'base:logout' %}">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br/>


<main style="margin-top:-20px;margin-bottom: 20px;margin-left: 200px;margin-right: 200px;border: solid;border-color: chocolate ">
    <div class="infosbox">
        <h2 style="text-align: center">{{ notice.notice_name }}</h2>
        <div class="noticeinfo">
            <h4 style="text-align: center">发布人：
                {{ notice.notice_issuer }}&nbsp&nbsp&nbsp&nbsp&nbsp发布时间：{{ notice.notice_date }}
                &nbsp&nbsp&nbsp&nbsp&nbsp浏览人数：{{ notice.notice_read }}</h4>
        </div>
        <hr style="background-color: #761c19 ;height: 2px">
        <div style="margin: 90px;margin-top: 35px">
            <p>
                {{ notice.notice_content|safe }}
            </p>
            <br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</main>
</body>
</html>