<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用帮助</title>
    {% load staticfiles %}
    <!--引入网站图标-->
    <link rel="shortcut icon" href="{% static "lab.png" %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div style="margin: 10px">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--点击首页后跳转至首页路由-->
                <a class="navbar-brand" href="{% url 'index:index' id 1 %}">首页</a>
            </div>
            <div class="navbar-header">
                <!--点击信息反馈后跳转至信息反馈路由-->
                <a class="navbar-brand" href="{% url 'index:userHelp' id %}">使用帮助</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 18px">
                            {% if user.name == "" %}
                                {{ user.username }}
                            {% else %}
                                {{ user.name }}
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 16px">
                            <li><a href="{% url 'literature:checkFavorite' id 1 %}">收藏夹</a></li>
                            <li><a href="{% url 'base:userCenter' id %}">个人中心</a></li>
                            <li><a href="{% url 'base:setPassword' %}">修改密码</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'base:logout' %}">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br/>


<main style="margin-top:-20px;margin-bottom: 20px;margin-left: 200px;margin-right: 200px;border: solid;border-color: #3e8f3e">
    <div class="infosbox">
        <h2 style="text-align: center"><strong>◇◇◇使用帮助◇◇◇</strong></h2>
        <p style="text-align: center;font-size: 18px">问题仍未得到解决请联系管理员email: <strong
                style="font-size:20px;color: #3e8f3e">d_muses@163.com</strong></p>
        <hr style="background-color: #3e8f3e;height: 3px">
        <div style="margin: 30px">

            <div class="panel panel-info col-sm-13">
                <div class="panel-heading">
                    <h3>关于"首页"</h3>
                </div>
                <div class="panel-body">
                    <p style="font-size: 20px">
                        ① 登录进入 <a href="{% url 'index:index' id 1 %}" style="color:darkorange"><strong>"首页"</strong></a>
                        之后，请先点击右上角，进入<a href="{% url 'base:userCenter' id %}" style="color:darkorange"><strong>
                        "个人中心" </strong></a>,设置自己的姓名、简介以及邮箱，以方便您使用系统相关功能和找回密码。在右上角处依次有:
                        <a href="{% url 'literature:checkFavorite' id 1 %}"
                           style="color:darkorange"><strong>"收藏夹"</strong></a>(用于保存查看用户收藏的文献记录)、
                        <a href="{% url 'base:userCenter' id %}" style="color:darkorange"><strong>"个人中心"</strong></a>、
                        <a href="/setPassword" style="color:darkorange"><strong>"修改密码" </strong></a>和
                        <a href="/logout" style="color:red"><strong>"注销" </strong></a>。
                        <br>
                        ② 系统功能依次为:
                        {% if user.user_type != 0 %}
                            <a href="{% url 'index:index' id 1 %}"
                               style="color:darkorange"><strong>"上传文献∨" </strong></a>、
                        {% endif %}
                        <a href="{% url 'literature:searchLiterature' id 1 %}"
                           style="color:darkorange"><strong>"查阅文献" </strong></a>、
                        <a href="{% url 'base:labSchedule' id 1 %}" style="color:darkorange"><strong>"实验室时间表" </strong></a>、
                        <a href="{% url 'index:index' id 1 %}" style="color:darkorange"><strong>"会议∨" </strong></a>、
                        <a href="{% url 'index:index' id 1 %}" style="color:darkorange"><strong>"聊天室∨" </strong></a>、
                        <a href="{% url 'feedback:feedback' id 1 %}"
                           style="color:darkorange"><strong>"信息反馈" </strong></a>和
                        <a href="{% url 'index:userHelp' id %}" style="color:darkorange"><strong>"使用帮助" </strong></a>。
                    </p>
                </div>
            </div>
            {% if user.user_type != 0 %}
                <div class="panel panel-info col-sm-13">
                    <div class="panel-heading">
                        <h3>关于"上传文献"</h3>
                    </div>
                    <div class="panel-body">
                        <p style="font-size: 20px">
                            上传文献为非学生用户专有功能，其下一共有三个功能，分别是:
                            <a href="{% url 'literature:createLiterature' id 1 0 %}" style="color:darkorange"><strong>
                                "新建文献" </strong></a>、
                            <a href="{% url 'literature:createLabel' id 1 0 %}" style="color:darkorange"><strong>
                                "新建文献标签" </strong></a>、
                            <a href="{% url 'literature:checkLiterature' id 1 %}" style="color:darkorange"><strong>
                                "查看已上传文献" </strong></a>。
                            接下来依次介绍这三个的功能详情。
                        </p>
                        <p style="font-size: 20px">
                            1) <a href="{% url 'literature:createLiterature' id 1 0 %}"
                                  style="color:darkorange"><strong>
                            "新建文献" </strong></a>
                            功能中，需要依次输入 "文献标题" ， "文献作者" ，并选择一个或多个 "文献标签" ，而文献标签均为当前用户自己创建。如果标签不能够满足使用，则可以选择2)功能
                            <a href="{% url 'literature:createLabel' id 1 0 %}" style="color:darkorange"><strong>
                                "新建文献标签" </strong></a>，新建自定义标签。
                            输入信息完成后点击 "新建文献" 按钮，即可进行文献创建。界面下方的表格显示的即为用户自身所上传的所有文献记录。<br>
                            2) <a href="{% url 'literature:createLabel' id 1 0 %}" style="color:darkorange"><strong>
                            "新建文献标签" </strong></a>
                            功能用于用户创建自己需要的文献标签，只需输入文献标签名称，点击 "创建标签" 按钮即可。界面下方的表格显示的即为用户自身所创建的所有文献标签。<br>
                            3) <a href="{% url 'literature:checkLiterature' id 1 %}" style="color:darkorange"><strong>
                            "查看已上传文献" </strong></a>
                            功能用于帮助用户查看并管理自己所上传所有文献记录，所有记录以表格的形式显示，其中点击文献 "标题" ，即可进入该文献的详情界面：右上角的 "删除文献" 按钮可以让删除该文献，
                            界面左下角的 "查看评论" 按钮，可以用以查看并管理所有用户对于此文献的评论信息，接下来是 "选择文件" 和 "上传文献"
                            按钮，用以上传文献文件，每一个用户上传的文献记录如果不上传文件，
                            则该文献不会被系统中其他用户所看到，所查阅。右下角为 "下载文献" 按钮，该按钮在未上传文件的之前为不可使用状态，用以帮助用户下载文献文件。
                        </p>
                    </div>
                </div>
            {% endif %}

            <div class="panel panel-info col-sm-13">
                <div class="panel-heading">
                    <h3>关于"查阅文献"</h3>
                </div>
                <div class="panel-body">
                    <p style="font-size: 20px">
                        <a href="{% url 'literature:searchLiterature' id 1 %}" style="color:darkorange"><strong>
                            "查阅文献"</strong></a>
                        功能用以帮助用户查阅系统所具有的所有文献记录，进行搜索时，可以选择四种搜索方式，分别为: 1.标题 2.作者 3.关键词 4.上传者，
                        然后输入框中输入想要搜索的文献信息，点击 "查阅" 按钮，即可在界面下方的表格中得到相关搜索结果。<br>点击文献
                        "标题" 即可查看文献的详细信息。文献详情界面的左上角 "金色五角星" 用于帮助用户收藏自己想要的文献记录，再次点击即可取消收藏。
                        界面右上角的 "点赞" 按钮用以帮助用户对当前文献进行点赞操作。界面中部、左边的 "文献评论"
                        按钮，用以对当前文献进行评论，每个用户可以删除自己已提交的评论信息。界面中部、右边的 "下载文献"
                        按钮，用于下载当前文献文件。界面最下方是相似文献推荐，相似文献以表格的形式展示，同样点击文献 "标题"
                        即可查看该文献的详细信息。
                    </p>
                </div>
            </div>

            <div class="panel panel-info col-sm-13">
                <div class="panel-heading">
                    <h3>关于"会议"</h3>
                </div>
                <div class="panel-body">
                    <p style="font-size: 20px">
                        {% if user.user_type != 0 %}
                            <a href="{% url 'index:index' id 1 %}" style="color:darkorange"><strong>"会议∨" </strong></a>
                            功能包括三个子功能：发布会议通知、查看会议通知和删除会议通知<br>
                            {% if user.user_type == 1 %}
                                1) <a href="{% url 'meeting:createMeeting' id %}"
                                      style="color:darkorange"><strong>"发布会议通知" </strong></a>
                                功能用以当前用户发布会议通知，只需输入会议名称、会议主题，选择会议的时间地点和会议的参与方式，
                                可选择人员或班级，选择后点击"发布会议" 按钮，即可发布会议通知给选择的用户或该班级下的所有用户。<br>
                            {% else %}
                                1) <a href="#"
                                      style="color:darkorange"><strong>"发布会议通知" </strong></a>
                                功能用以当前用户发布会议通知，只需输入会议名称、会议主题，选择会议的时间地点和会议的参与方式，
                               可选择人员或班级，选择后点击"发布会议" 按钮，即可发布会议通知给选择的用户或该班级下的所有用户。<br>
                            {% endif %}
                            2) <a href="{% url 'meeting:checkMeeting' id 1 %}"
                                  style="color:darkorange"><strong>"查看会议通知" </strong></a>
                            功能用以查看当前用户所发布的所有会议通知，其中如果会议是选择人员类型的会议，
                            则需要点击 "选择人员" 按钮，然后选择相应的参会人员进行添加即可。
                            点击 "会议" 即可查看会议详细信息。在会议的详细信息界面，可以 "查看会议留言"，"上传会议文件" 和 "下载会议文件"。
                            在会议留言界面可以对会议进行留言并管理会议留言信息。<br>
                            3) <a href="{% url 'meeting:deleteMeeting' id 1 %}"
                                  style="color:darkorange"><strong>"删除会议通知" </strong></a>
                            功能，用以当前用户删除指定的会议通知记录。
                        {% else %}
                            <a href="{% url 'index:index' id 1 %}" style="color:darkorange"><strong>"会议∨" </strong></a>
                            功能包括一个子功能：查看会议通知<br>
                            1) <a href="{% url 'meeting:checkMeeting' id 1 %}"
                                  style="color:darkorange"><strong>"查看会议通知" </strong></a>
                            功能用以查看当前用户所发布的所有会议通知，点击 "会议" 即可查看会议详细信息。在会议的详细信息界面，可以 "查看会议留言"，"上传会议文件" 和 "下载会议文件"。
                            在会议留言界面可以对会议进行留言并管理会议留言信息。<br>
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="panel panel-info col-sm-13">
                <div class="panel-heading">
                    <h3>关于"聊天室"</h3>
                </div>
                <div class="panel-body">
                    <p style="font-size: 20px">
                        {% if user.user_type != 0 %}
                            <a href="{% url 'index:index' id 1 %}" style="color:darkorange"><strong>"聊天室∨" </strong></a>
                            功能包括三个功能：新建讨论区，查看讨论区和查看闲聊区。<br>
                            1)
                            <a href="{% url 'chat:newChat' id 1 0 %}" style="color:darkorange"><strong>"新建讨论区" </strong></a>
                            功能帮助用户为已发布会议创建指定讨论区，输入讨论区名字，点击 "创建讨论区" 即可。<br>
                            2)
                            <a href="{% url 'chat:checkChat' id 1 %}" style="color:darkorange"><strong>"查看讨论区" </strong></a>
                            功能用于查看已创建的所有讨论区，点击表格右侧的 "删除" 按钮即可删除讨论区。
                            点击讨论区 "名称" 即可进入讨论区界面查看，但老师用户需要点击界面右上方的 "开启讨论区" 按钮，讨论区才可使用，
                            同时参与会议的同学才能进行签到操作，并且老师和管理员在讨论区界面均可以随时添加敏感词汇，增强聊天室的词汇过滤功能。在讨论区界面下方可以查看已签到和未签到的所有参会人员信息。<br>
                            3) <a href="{% url 'chat:checkChatArea' id 1 %}"
                                  style="color:darkorange"><strong>"查看闲聊区" </strong></a>
                            功能用于满足用户在本班级和本专业的聊天室中进行聊天。<br>
                        {% else %}
                            <a href="{% url 'index:index' id 1 %}" style="color:darkorange"><strong>"聊天室∨" </strong></a>
                            功能包括两个功能：查看讨论区和查看闲聊区<br>
                            1)
                            <a href="{% url 'chat:checkChat' id 1 %}" style="color:darkorange"><strong>"查看讨论区" </strong></a>
                            功能用于查看已创建的所有讨论区，点击讨论区 "名称" 即可进入讨论区。但老师必须已经开启讨论区，
                            否则该讨论区不能使用。讨论区界面右上角的 "签到"按钮帮助用户进行签到，签到之后可看到按钮显示为 "已签到" ,同时老师可实时查看签到情况。<br>
                            2) <a href="{% url 'chat:checkChatArea' id 1 %}"
                                  style="color:darkorange"><strong>"查看闲聊区" </strong></a>
                            功能用于满足用户在本班级和本专业的聊天室中进行聊天。<br>
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="panel panel-info col-sm-13">
                <div class="panel-heading">
                    <h3>关于"实验室时间表"</h3>
                </div>
                <div class="panel-body">
                    <p style="font-size: 20px">
                        <a href="{% url 'base:labSchedule' id 1 %}" style="color:darkorange"><strong>"实验室时间表" </strong></a>
                        用于查看所有实验室的日程安排，其中设置实验室选择下拉列表，选择不同的实验室，点击 "查看时间表"
                        即可得到该实验室所有的时间安排信息，并以表格的形式展示在界面下方。
                    </p>
                </div>
            </div>

            <div class="panel panel-info col-sm-13">
                <div class="panel-heading">
                    <h3>关于"实验室值班表"</h3>
                </div>
                <div class="panel-body">
                    <p style="font-size: 20px">
                        <a href="{% url 'base:dutySchedule' id 1 %}" style="color:darkorange"><strong>"实验室值班表" </strong></a>
                        用于查看所有实验室的值班信息，其中设置实验室选择下拉列表，选择不同的实验室，点击 "查看值班表"
                        即可得到该实验室从周一至周日所有的值班安排信息，并以表格的形式展示在界面下方。
                    </p>
                </div>
            </div>

            <div class="panel panel-info col-sm-13">
                <div class="panel-heading">
                    <h3>关于"信息反馈"</h3>
                </div>
                <div class="panel-body">
                    <p style="font-size: 20px">
                        <a href="{% url 'feedback:feedback' id 1 %}"
                           style="color:darkorange"><strong>"信息反馈" </strong></a>
                        功能用于用户在使用系统过程中对遇到的系统问题进行反馈，反馈的信息记录将以列表的形式进行分页展示。
                    </p>
                </div>
            </div>

            <div class="panel panel-info col-sm-13">
                <div class="panel-heading">
                    <h3>关于"使用帮助"</h3>
                </div>
                <div class="panel-body">
                    <p style="font-size: 20px">
                        <a href="{% url 'index:userHelp' id %}" style="color:darkorange"><strong>"使用帮助" </strong></a>
                        功能会介绍系统的所有功能详情，帮助用户使用，如果还有未解决的使用问题，可通过邮箱: d_muses@163.com
                        及时联系超级管理员寻求帮助。
                    </p>
                </div>
            </div>

        </div>

    </div>
    </div>
    </div>
</main>
</body>
</html>